name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run auth test
        run: npx mocha "test/middleware/auth.test.js"
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}

      - name: Run model test
        run: npx mocha "test/models/room.test.js"
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
